.kaufman__triangle {
    position: absolute;
    height: 877px;
    width: 877px;
    right: -210px;
    top: 0;
    background-image: url(../../../images/triangle.svg);
    background-size: contain;
    -webkit-animation: kaufman__triangle 20s linear infinite;
            animation: kaufman__triangle 20s linear infinite;
  }