.header__title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -ms-flex-item-align: center;
        align-self: center;
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    
}